* {
	margin: 0;
	padding: 0;
}

body {
	background-color: darkblue;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* FRAME */

.frame {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	width: 1200px;
	height: 900px;
	background-color: #ba0c0f;
}

/* TOP */

.top {
	height: 40px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	p {
		font-size: 36px;
		color: #e8bf84;
		font-family: Optima, sans-serif;
		text-shadow: 5px 5px 10px black;
	}
}
/* LEFT */

.left {
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.color-picker {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 600px;
	width: 150px;
}

.btn-color {
	background-color: white;
	width: 50px;
	height: 50px;
	margin: 5px;
	border: 1px solid black;
}
/* CENTER */

.center {
	height: 700px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.screen {
	width: 800px;
	height: 800px;
	background-color: white;
}

/* RIGHT */
.right {
	padding-left: 20px;
	display: flex;
	flex-direction: column;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	width: 150px;
}

button {
	border: none;
	height: 170px;
}
.btn-size {
	height: 20px;
}

.btn-rainbow {
	background: #833ab4;
	background: linear-gradient(
		36deg,
		rgba(131, 58, 180, 1) 0%,
		rgba(253, 29, 29, 1) 50%,
		rgba(252, 176, 69, 1) 100%
	);
}

.btn-eraser {
	background-color: transparent;
}
/* BOTTOM */
.bottom {
	height: 40px;
	width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
}

.knob {
	margin-top: 50px;
	height: 150px;
	width: 150px;
	background-color: white;
	border-radius: 50%;
}
